---
import ItemCard from '../components/ItemCard.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import WelcomeContent from "../components/WelcomeContent.astro"
---

<DefaultLayout>
  <div class="grid grid-cols-4 h-full xl:w-2/3 lg:w-2/3 md:w-4/5 w-full gap-4">
    <div class="col-span-3">
      <ItemCard>
        <WelcomeContent />
      </ItemCard>
    </div>
    <div class="col-span-1 row-span-2">
      <ItemCard>About Me Card</ItemCard>
    </div>
    <div class="col-span-1 row-span-2">
      <ItemCard>Contact Details</ItemCard>
    </div>
    <div class="col-span-2">
      <ItemCard>Frontend Skills</ItemCard>
    </div>
    <div class="col-span-2">
      <ItemCard>Backend Skills</ItemCard>
    </div>
    <div class="col-span-1">
      <ItemCard>Works</ItemCard>
    </div>
    
  </div>
</DefaultLayout>
