---
import CardTitle from "./CardTitle.astro";
---

<div class="h-full">
  <CardTitle>About Me</CardTitle>
  <p>I'm currently a front-end software developer from the United States working at Komodo Systems.</p>
  <br />
  <p>I primarily use the following tools:</p>
  <ul class="list-disc px-4 py-2">
    <li>Typescript</li>
    <li>Vue 3</li>
    <li>Nuxt 3</li>
    <li>Git</li>
    <li>Nodejs</li>
    <li>Deno</li>
  </ul>
  <br />
  <p>Other than coding, I also like to study and learn Japanese and classical guitar. I also like playing video games!</p>
</div>