---
import CardTitle from "./CardTitle.astro";
---

<div class="h-full">
  <CardTitle>Back-end Skills</CardTitle>
  <p class="text-sm">I've primarily used the following tools when working on the back-end:</p>
  <ul class="list-disc px-4 py-2">
    <li>Express</li>
    <li>Django</li>
    <li>Flask</li>
    <li>Sqlite</li>
    <li>PostgreSQL</li>
    <li>Sequelize</li>
  </ul>
</div>