---
import CardTitle from "./CardTitle.astro";
---

<div class="h-full w-full text-wrap">
  <CardTitle>Want to Reach Out?</CardTitle>

  <h3 class="text-base-content/70 text-sm mb-1">Contact Details</h3>  
  <div class="flex flex-row gap-2 items-center">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="size-4 align-middle">
        <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
        <path class="fill-base-content" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
      </svg>
    </span>
    <a class="link" href="mailto:jeffaanderson0@gmail.com">
      jeffaanderson0@gmail.com
    </a>
  </div>
  
  <br />
  <h3 class="text-base-content/70 mb-1 text-sm">Socials</h3>
  <ul class="px-2">
    <li class="link"><a target="_blank" href="https://www.linkedin.com/in/jeff-anderson-967391236">LinkedIn</a></li>
    <li class="link"><a target="_blank" href="https://github.com/foggeydoughtnut">Github</a></li>
    <li class="link"><a target="_blank" href="http://discordapp.com/users/456173324964331521">Discord</a></li>
  </ul>

</div>