---
import { Icon } from "astro-icon/components";
import CardTitle from "./CardTitle.astro";
---

<div class="h-full">
  <CardTitle>Want to Reach Out?</CardTitle>

  <h3 class="text-base-content/70 text-sm mb-1">Contact Details</h3>
  <div class="flex flex-row items-center gap-2">
    <span class="">
      <Icon name="email-icon"/>
    </span>
    <span class="font-semibold">jeffaanderson0@gmail.com</span>
  </div>
  <br />
  <h3 class="text-base-content/70 mb-1 text-sm">Socials</h3>
  <ul class="px-2">
    <li class="link link-secondary"><a target="_blank" href="https://www.linkedin.com/in/jeff-anderson-967391236">LinkedIn</a></li>
    <li class="link link-secondary"><a target="_blank" href="https://github.com/foggeydoughtnut">Github</a></li>
    <li class="link link-secondary"><a target="_blank" href="http://discordapp.com/users/456173324964331521">Discord</a></li>
  </ul>

</div>