---
import CardTitle from "./CardTitle.astro";
---

<div class="h-full">
  <CardTitle>Front-end Skills</CardTitle>
  <p class="text-sm">These are the main tools I use for front-end development:</p>
  <ul class="list-disc px-4 py-2">
    <li>Typescript</li>
    <li>Javascript</li>
    <li>Vue 3</li>
    <li>Nuxt 3</li>
    <li>React</li>
    <li>Astro</li>
  </ul>
</div>