---
import { Icon } from 'astro-icon/components';
---

<div class="h-full grid lg:grid-cols-2 gap-4">
  <div class="flex flex-col justify-between h-full pb-4">
    <div class="text-base-content flex flex-col gap-2">
      <h2 class="text-lg font-semibold text-secondary mb-4">Welcome</h2>
      <p>Hello, I'm <span class="font-semibold">Jeffrey Anderson</span>, a software engineer with strong focus on front-end web development.</p>
      <p>Feel free to reach out with any questions you may have for me, or just to say hello!</p>
    </div>
    <ul class="menu menu-horizontal items-center">
      <li><a href="https://github.com/foggeydoughtnut" target="_blank"><Icon name="github-icon" width={24} height={24} /></a></li>
      <li><a href="https://www.linkedin.com/in/jeff-anderson-967391236/" target="_blank"><Icon name="linkedIn-icon" width={24} height={24} /></a></li>
    </ul>
  </div>
  <div class="bg-base-300 place-items-center m-4 hidden lg:grid">
    Image of myself
  </div>
</div>