---
import CardTitle from "./CardTitle.astro";
---

<div class="h-full">
  <CardTitle>Most Recent Projects</CardTitle>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-1">
      <h3 class="font-semibold">Work Related</h3>
      <p class="text-sm text-base-content/70">My most recent work related project was the Komodo Eye developed utilizing Nuxt 3.</p>
    </div>
    <div class="flex flex-col gap-1">
      <h3 class="font-semibold">Personal Project</h3>
      <p class="text-sm text-base-content/70">My most recent personal project was developing a Pong replica from scratch using Typescript and the Canvas API.</p>
    </div>
  </div>
</div>